menu "NXP IoT Agent"
    config MCUX_COMPONENT_middleware.nxp_iot_agent.lwip_enet
        bool

    config MCUX_COMPONENT_middleware.nxp_iot_agent.lwip_wifi
        bool

    config MCUX_COMPONENT_middleware.nxp_iot_agent.sss
        bool
        select MCUX_COMPONENT_middleware.se_hostlib.commonSe050CloudDemos
        select MCUX_COMPONENT_middleware.se_hostlib.tstutils.time

    config MCUX_COMPONENT_middleware.nxp_iot_agent.psa
        bool

    config MCUX_COMPONENT_middleware.nxp_iot_agent
        bool "NXP IoT Agent library sources"
        depends on MCUX_HW_BOARD_evkbmimxrt1060 || MCUX_HW_BOARD_evkcmimxrt1060 || MCUX_HW_BOARD_evkbmimxrt1170 || MCUX_HW_BOARD_rdrw612bga || MCUX_HW_BOARD_frdmrw612
        select MCUX_COMPONENT_middleware.nxp_iot_agent.sss if MCUX_HW_BOARD_evkbmimxrt1060 || MCUX_HW_BOARD_evkcmimxrt1060 || MCUX_HW_BOARD_evkbmimxrt1170
        select MCUX_COMPONENT_middleware.nxp_iot_agent.psa if MCUX_HW_BOARD_rdrw612bga || MCUX_HW_BOARD_frdmrw612
    if MCUX_COMPONENT_middleware.nxp_iot_agent
        choice
            prompt "Network backend"
            config MCUX_DEPENDENCY_COMPONENT_middleware.nxp_iot_agent.network.lwip_enet
                bool "lwIP Ethernet"
                select MCUX_COMPONENT_middleware.nxp_iot_agent.lwip_enet
            config MCUX_DEPENDENCY_COMPONENT_middleware.nxp_iot_agent.network.lwip_wifi
                bool "lwIP Wi-Fi"
                select MCUX_COMPONENT_middleware.nxp_iot_agent.lwip_wifi
        endchoice
    endif

    config MCUX_COMPONENT_middleware.nxp_iot_agent.mqtt
        bool "Standalone MQTT library sources"
        depends on MCUX_HW_BOARD_rdrw612bga || MCUX_HW_BOARD_frdmrw612 || MCUX_HW_BOARD_mcxn5xxevk || MCUX_HW_BOARD_mcxn9xxevk
    if MCUX_COMPONENT_middleware.nxp_iot_agent.mqtt
        choice
            prompt "Network backend"
            config MCUX_DEPENDENCY_COMPONENT_middleware.nxp_iot_agent.mqtt.network.lwip_enet
                bool "lwIP Ethernet"
                select MCUX_COMPONENT_middleware.nxp_iot_agent.lwip_enet
            config MCUX_DEPENDENCY_COMPONENT_middleware.nxp_iot_agent.mqtt.network.lwip_wifi
                bool "lwIP Wi-Fi"
                select MCUX_COMPONENT_middleware.nxp_iot_agent.lwip_wifi
        endchoice
    endif

    config MCUX_COMPONENT_middleware.nxp_iot_agent.claimcode
        bool "Standalone Claimcode library sources"
        depends on MCUX_HW_BOARD_rdrw612bga || MCUX_HW_BOARD_frdmrw612
endmenu